/* Implementing a mobile first design approach*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: hsl(270, 20%, 96%);
}

.background-design {
  position: absolute;
  top: 0px;
  right: 50vw;
  z-index: -1000;
  background-color: hsl(276, 55%, 52%);
  width: 100vw;
  height: 60vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.phone-image {
  width: 400px;
  height: 60vh;
  border: solid 16px hsl(0, 0%, 100%);
  border-radius: 25px;
  background-color: hsl(270, 20%, 96%);
  padding: 2%;
  margin: 10vh auto 0;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
